.title-font(@size:1rem){
  font-family: Oswald, sans-serif;
  font-size:@size;
}

.body-font(@size:1rem) {
  font-family: Lato, sans-serif;
  font-size:@size;
}

.ellipsis(){
  display:block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap:break;
}

.gradient-ltr(@left-color:#E0F0FF,@right-color:#F4FAFF, @right-finish:90%){
  /* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */

/* Fallback if gradients are not supported*/
background-image:@left-color;

/* IE10 Consumer Preview */
background-image: -ms-linear-gradient(left, @left-color 0%, @right-color @right-finish);

/* Mozilla Firefox */
background-image: -moz-linear-gradient(left, @left-color 0%, @right-color @right-finish);

/* Opera */
background-image: -o-linear-gradient(top left, @left-color 0%, @right-color @right-finish);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left, right, color-stop(0, @left-color), color-stop(.9, @right-color));

/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(left, @left-color 0%, @right-color @right-finish);

/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to right, @left-color 0%, @right-color @right-finish);
}


.hidden {
    display:none !important;
}

// Clearfix

.clearfix(){
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.pull-right(){
  float: right;
}

.pull-left(){
  float: left;
}

.abs-fill(){
  position:absolute;
  bottom:0;
  right:0;
  left:0;
  top:0;
}
.abs-bottom(){
  .abs-fill();
  top:auto;
}
.abs-right(){
  .abs-fill();
  left:auto;
}
.abs-left(){
  .abs-fill();
  right:auto;
}
.abs-top(){
  .abs-fill();
  bottom:auto;
}


.link-blue(){
  text-decoration: none;
  color: #28D;
  word-wrap: break-word;
  &:hover{
    text-decoration: underline;
  }
}

.full-page(){
  position:absolute;
  top:2.5rem;
  left:0;
  right:0;
  bottom:0;
  overflow-x:hidden;
  overflow-y:auto;
}

.ui-mobile-hidden(){
  @media (max-width:@bp-1){
    display:none !important;
  }
}
.ui-mobile-only{
  @media (min-width:@bp-1){
    display:none !important;
  }
}
.ui-tablet-hidden(){
  @media (min-width:@bp-1) and (max-width:@bp-2){
    display:none !important;
  }
}
.ui-tablet-only(){
  @media (max-width:@bp-1),(min-width:@bp-2){
    display:none !important;
  }
}

.ui-desktop-hidden(){
  @media(min-width:@bp-2){
    display:none !important;
  }
}
.ui-desktop-only(){
  @media(max-width:@bp-2){
    display:none !important;
  }
}
